<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreeneriePlantie"
        tools:targetApi="31">
        <activity
            android:name=".ShippingInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ShippingAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ListNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".NewsDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.GreeneriePlantie" />
        <activity
            android:name=".SignInSignUpActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ProductActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".HomepageActivity"
            android:exported="false" />
        <activity
            android:name=".PlantNewsActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyCodeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileManagementActivity"
            android:exported="false" />
        <activity
            android:name=".LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false"/>
        <activity
            android:name=".OnboardingHelloActivity"
            android:exported="false" />
        <activity
            android:name=".PoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".CareReminderActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerSupportActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileSettingActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingPlantSellActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>